<!DOCTYPE html>
<html lang="nl">

<head>
    <title> Handboek CRUD</title>
    <meta charset="utf-8" />
    <style>
        div,
        footer,
        form {
            margin-top: 20px;
        }

        input,
        select {
            margin-top: 5px;
            width: 40%;
            padding: 2px;
        }

        body {
            width: 80%;
            max-width: 600px;
            margin: auto;
            margin-top: 50px;
        }

        th,
        td {
            text-align: left;
            padding-right: 10px;
        }

        div {
            width: 100%;
        }

        label {
            width: 20%;
            display: inline-block;
        }

        td:last-child {
            color: red;
            cursor: pointer;
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>


<body>

    <!-- <h1>Login</h1>
    <div id="voegToeContainer" style="visibility: hidden">

        <label>naam:</label><input type="text" id="naam" required /><br />
        <label>email:</label><input type="email" id="email" /><br />
        <label>password:</label><input type="password" id="password" /><br />
        <button onclick="voegToe2()">Toevoegen</button>
    </div>

    <div id="loginContainer" style="visibility: visible">
        <form action="javascript:void(0);">

            <input type="email" placeholder="mail" id="mail" required>
            <input type="password" placeholder="wachtwoord" id="wachtwoord" required>
            <button type="submit" onclick="login()">Login</button>

        </form> -->

    </div>
    <h1>Handboek CRUD</h1>
    <table>
        <tr>
            <th>Naam</th>
            <th>File</th>
            <th>Hoofdstuk</th>
        </tr>
        <tbody id="tabelInhoud" />
    </table>

    <!-- <div>
        <label>Hoofdstuk:</label><select id="selectInhoud"></select><br />
        <label>naam:</label><input type="text" id="naam" required /><br />
        <label>file:</label><input type="text" id="file" /><br />



        <button onclick="voegToe()">Toevoegen</button>
    </div> -->
</body>

<script>
    "use strict"
    const apiBasis = "http://localhost:8000/api/"
    const apiScripts = apiBasis + "scripts/"
    const apiHoofdstuk = apiBasis + "hoofdstukken/"
    const apiLogin = apiBasis + "login/"
    let access_token = undefined

    let hoofdstukken = []
    let scripts = []
    let hoofdstukid = []

    const login = async () => {

        const password = document.querySelector("#wachtwoord").value
        console.log("ww: ", document.querySelector("#wachtwoord").value)
        const email = document.querySelector("#mail").value
        const jsonstring = { "password": password, "email": email }
        let access_token = undefined
        console.log("login: ", jsonstring)
        const respons = await axios.post(apiLogin, jsonstring,
            { headers: { 'Content-Type': 'application/json' } })
        console.log('status code', respons.status)
        access_token = await respons.data.access_token
        console.log('access_token: ', access_token)
        document.querySelector("#loginContainer").style.visibility = "hidden"
        document.querySelector("#voegToeContainer").style.visibility = "visible"
        document.querySelectorAll("td:last-child").forEach(el => el.style.display = "inline")
        await laadHoofdstuk()
        await laadScripts()
        toonScripts()
    }

    const voegToe2 = async () => {

        const naam = document.querySelector("#naam").value
        const email = document.querySelector("#email").value
        const functie = document.querySelector("#password").value

        const jsonstring = {
            "naam": naam, "email": email, "password": password
        }
        console.log("voeg toe: ", jsonstring)
        const respons = await axios.post(apiHoofdstuk, jsonstring, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': 'Bearer ' + access_token
            }
        })
        console.log('status code', respons.status)

    }
//aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    const laadHoofdstuk = async () => {
        const response = await axios.get(apiHoofdstuk)
        const json = await response.data
        let selectInhoud = ''
        json.map(el => {
            hoofdstukken[el.id] = el.naam
            hoofdstukid[el.id] = el.id
            selectInhoud += `<option value="${el.id}">${el.naam}</option>`
        })
        document.querySelector("#selectInhoud").innerHTML = selectInhoud
        console.log(hoofdstukken)
    }

    const laadScripts = async () => {
        //console.log('Laad gegevens')
        const response = await axios.get(apiScripts)
        scripts = await response.data
    }

    const toonScripts = () => {
        let tabelInhoud = ''


        scripts.map(el => tabelInhoud += `<tr><td>${el.naam}</td><td>${el.file}</td></td><td>${hoofdstukid[el.hoofdstuk_id]}</td>
                                <td>${hoofdstukken[el.hoofdstuk_id]}</td><td onclick="verwijder(${el.id})"> x </td></tr>`)

        //console.log(tabelInhoud);
        //    console.log(document.querySelector("#tabelInhoud").innerHTML)
        document.querySelector("#tabelInhoud").innerHTML = tabelInhoud
    }

    const laad = async () => {
        await laadHoofdstuk()
        await laadScripts()
        toonScripts()
    }

    const voegToe = async () => {

        const naam = document.querySelector("#naam").value
        const file = document.querySelector("#file").value
        const hoofdstuk = document.querySelector("#selectInhoud").value
        const jsonstring = { "naam": naam, "file": file, "hoofdstuk_id": hoofdstuk }
        console.log("voeg toe: ", jsonstring)
        const respons = await axios.post(apiScripts, jsonstring, { headers: { 'Content-Type': 'application/json' } })
        console.log('status code', respons.status)
        await laadScripts()
        toonScripts()
    }

    const verwijder = async (id) => {

        console.log("verwijder: ", id)
        const respons = await axios.delete(apiScripts + id)
        console.log('status code', respons.status)
        await laadScripts()
        toonScripts()
    }



</script>

</html>